@import url('https://fonts.googleapis.com/css2?family=Ruthie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');

$fonts-headline: 'Ruthie', cursive;
$fonts-headline-1: 'Quicksand', sans-serif;
$fonts-body: 'Montserrat', sans-serif;
$background-color: #302615;
$primary: #ECE849;
$accent1: #aa0B14;
$accent2: #256624;
$grey-sidebar: rgba(51, 55, 69, 0.9);
$text-dark: #110E0C;
$text-light: #fff;
$picture-border: #110E0C;