@import "../page-styles.css";

.container {
	min-height:600px;
	display: flex;
	
	border:2px dashed;
}
.box {
	/*
	
	
	flex-basis: auto;
	*/
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	width: 200px;
	height: 200px;
	background:#eee;
	border:2px solid;

	/*
	flex:1 1 auto;
	height:150px;
	*/
	
}


.box:nth-child(3) {
	flex: 3;
	align-self: stretch;
	height: auto;
	order: 1;
}
/*
	order:2;
	align-self:flex-end;
}
*/
